
<h1>Forgot Password</h1>
<div class="forGot">
<form name="forGoter" novalidate>
	<table>
		<tr>
			<th>
				Enter Your mail id :
			</th>
			<td><input type="email" name="email" ng-model="email" required>
				<span ng-show="forGoter.email.$touched && forGoter.email.$invalid"> Mail required...</span></td>
		</tr>
		
	</table>
</form>
<input type="button" value="SendMail" ng-click="forGotPsw()" ng-disabled="forGoter.$invalid" ng-model="user">
 </div>
	 <style type="text/css">
	
 	.forGot{
 		position: relative;
 		top:30px;
 		margin: 50px;
 	}
 	h1{
 		text-align: center;
 		color: red;
 	}
 	span{
 		color: red;
 	}
 </style>