<h1>New User Registration</h1>
<form name="Registration" novalidate>
	<table cellpadding="10px" cellspacing="10px">
	<tr>
		<th>First Name :</th>
			<td>
				<input type="text" name="uname" ng-model="uname" required>
				<span ng-show="Registration.uname.$touched && Registration.uname.$invalid">Name is Manditory</span><br/>
			</td>		
	</tr> 
	<tr>
		<th>Second Name :</th>
			<td>
				<input type="text" name="sname" ng-model="sname" required>
				<span ng-show="Registration.sname.$touched && Registration.sname.$invalid">Name is Manditory</span><br/>
			</td>		
	</tr> 
	<tr> 
		<th>User ID :</th> 
			<td><input type="email" name="email" ng-model="email" required>
			 <span ng-show="Registration.email.$touched && Registration.email.$invalid">email is Manditory</span>
			 <br/> 
		</td>	
	</tr>
	<!--<tr>
		<th>Password  :</th>
			<td>
				<input type="password" name="password" ng-model="password" required>
				<span ng-show="Registration.password.$touched && Registration.password.$invalid">Password is Manditory</span><br/>
			</td>		
	</tr> -->
	<tr>
		<th>Password:</th>
			<td>
				<input type="password" name="password" ng-model="password" minlength="8" required>
				<span ng-show="Registration.password.$error.required">Password is required</span>
				<span ng-show="Registration.password.$error.minlength">Too short..</span>
				<br/>
			</td>		
	</tr> 
	</table>	
		<input type="button" value="submit" id="submit" ng-disabled="Registration.$invalid" ng-click="newUserDetails()">
		<input type="reset" value="Reset" id="Reset">
		<div id="new"></div>
		<div id="new2"></div>
</form>
<style type="text/css">
	#new{
		text-align: center;
		font-size: 20px;
	}
	#submit{
		position: absolute;
		bottom: 100px;
		left: 760px;
	}
	#Reset{
		position: absolute;
		bottom: 100px;
		left: 850px;
	}
	span{
		color: red;
	}
	table{
		position: relative;
	left:300px;
	}
</style>